html,
body {
  font-size: 18px;
  font-family: Helvetica;
}

.main {
  width: 960px;
  margin: 0 auto;
}

.container {
  background-color: black;
  color: white;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  position: relative;
  top: 0.4rem;
}

.logo h2 {
  display: inline-block;
  padding: 0.66rem 0;
  font-size: 1rem;
}

.heading {
  background: url("../images/moto.jpeg") no-repeat center;
  background-size: cover;
  height: 25rem;
}

.heading .main {
  display: flex;
}

.heading-item {
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
}

.heading-item h2 {
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.heading-item h1 {
  font-size: 2rem;
  font-weight: bold;
}
