html,
body {
  font-size: 18px;
  font-family: Helvetica;
}

.main {
  width: 960px;
  margin: 0 auto;
}

.container {
  background-color: black;
  color: white;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  display: inline-block;
  position: relative;
  top: 0.4rem;
}

.logo h2 {
  display: inline-block;
  padding: 0.66rem 0;
  font-size: 1rem;
}

.heading {
  background: url("../images/moto.jpeg") no-repeat center;
  background-size: cover;
  height: 25rem;
}

.heading .main {
  display: flex;
}

.heading-item {
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
}

.heading-item h2 {
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.heading-item h1 {
  font-size: 2rem;
  font-weight: bold;
}

.navigation {
  background-color: firebrick;
}

ul {
  display: flex;
  justify-content: space-between
}

li {
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}

.small-screen-nav {
  display: none;
}

#gallery {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.item {
  border: 4px solid black;
  width: 30%;
  height: 15rem;
}

.item p {
  text-align: center;
  padding: 0.5rem 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 9rem;
}

.image img {
  height: auto;
  max-width: 9rem;
}

#contact {
  display: flex;
  justify-content: space-between;

}

#contact .location,
#contact .hours {
  width: 35%;
}

#contact .container {
  padding: 1rem 0 1rem 2rem;
}

footer {
  margin-top: 4rem;
  display: flex;
  height: 5rem;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .main {
    width: 100%;
    margin: 0;
  }

  .navigation {
    display: none;
  }

  .small-screen-nav {
    background-color: firebrick;
    display: block;
  }

  .small-screen-nav p {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: white;
  }

  #third-item {
    display: none;
  }

  .item {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  .heading {
    height: 15rem;
  }

  .heading-item {
    margin-top: 10rem;
    padding: 1rem 2rem;
    width: 100%;
  }

  .heading-item h2 {
    font-size: 0.77rem;
  }

  .heading-item h1 {
    font-size: 1rem;
  }

  #second-item {
    display: none;
  }

  .item {
    width: 90%;
    margin: 0 auto;
  }

  #contact {
    flex-direction: column;
    justify-content: flex-left;
    margin: 0 auto;
  }

  #contact .location,
  #contact .hours {
    width: 90%;
    margin: 0.5rem auto;
  }

  footer {
    text-align: center;
  }
}
